{% extends 'base.html' %}

{% block title %}
    <title>#{{ map.id }}: {{ map.description }} - Tasdia</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <script src="{{ url_for('static', filename='js/mouse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/quadtree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script>
        const MAP_ID = {{ map.id }};
    </script>
{% endblock %}

{% block body %}

<div class="main-frame">
    <article class="main-container">
        <div class="tools-frame">
            <ul>
                <li>1</li>
            </ul>
        </div>
        <div class="canvas-frame">
            <canvas id="canvas"></canvas>
        </div>
        <div class="options-frame">
            <h4>영역 레이어</h4>
            <ul class="area-layers-list">
            </ul>
            <h3>정보</h3>
            <table>
                <tr><td>위도</td><td id="info-latitude">북위 0° 0′ 0.0″</td></tr>
                <tr><td>경도</td><td id="info-longitude">동경 0° 0′ 0.0″</tdd></tr>
            </table>
        </div>
    </article>
</div>

{% endblock %}